@keyframes moveBackgroundLeft {
    0% {
        background-position-x: 1080px;
    }
    100% {
        background-position-x: 0px;
    }
}

@keyframes walkRight {
    0% {
        background-position-x: 0px
    }
    100% {
        background-position-x: -2200px
    }
}

@keyframes obstaculoTierra {
    0% {
        background-position-x: -45px;
    }
    100% {
        background-position-x: -460px;
    }
}

@keyframes obstaculoAire {
    0% {
        background-position-x: -45px;
    }
    100% {
        background-position-x: -460px;
    }
}

@keyframes moverObstaculo {
    0% {
        left: 1850px;
    }
    100% {
        left: -950px;
    }
}

.fondo {
    z-index: 0;
}

@keyframes salto {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-100px);
    }
    50% {
        transform: translateY(-100px);
    }
    75% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0px);
    }
}