@import 'animations.css';
html,
body {
    margin: 0;
    background-color: black;
    overflow: hidden;
}

.bgmove {
    height: 800px;
}

.personaje {
    height: 131px;
    width: 80px;
    margin: auto;
    position: relative;
    z-index: 1;
    top: 530px;
    bottom: 0;
    right: 350px;
    padding: 0px;
}
.enemigo {
    height: 145px;
    width: 200px;
    margin: auto;
    position: absolute;
    z-index: 1;
    top: 510px;
    bottom: 0;
    right: 1150px;
    padding: 0px;
    
}

.obstaculoTierra {
    margin: auto;
    position: absolute;
    height: 148px;
    width: 55px;
    padding: 0px;
    top: 510px;
    left: 1080px;
    animation: obstaculoTierra .8s steps(7) infinite, moverObstaculo 3s linear infinite;
}

.obstaculoAire {
    margin: auto;
    position: absolute;
    transform: rotateY(180deg);
    height: 58px;
    width: 90px;
    padding: 0px;
    top: 485px;
    left: 1080px;
    animation: obstaculoAire .5s steps(4) infinite, moverObstaculo 3s linear infinite;
}

.coleccionable{
    margin: auto;
    position: absolute;
    height: 50px;
    width: 50px;
    padding: 0px;
    top: 470px;
    left: 1080px;
    animation: coleccionable .8s steps(11) infinite, moverColeccionable 5s linear infinite;
}

#pop-up {
    position: absolute;
    z-index: 100;
    top: 50px;
    margin-left: 20%;
    width: 60vw;
    background-color: #0D4D86 !important;
    box-shadow: 0px 0px 15px #c7c5c5;
    border: 1px solid white;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
#fondos{
    display: flex;
}
.hidden {
    display: none;
}

.img-pj {
    height: 100px;
    padding: 5px;
}

.img-fondo {
    height: 200px;
}

.my_btn {
    background: transparent;
    text-decoration: none;
    margin: 20px;
    box-shadow: 0px 0px 40px -6px #CBC1BB;
    border: 2px solid hsla(0, 0%, 100%, .5);
    color: black;
    padding: 0;
}
.selected{
    transform: scale(1.1, 1.1);
    border: 2px solid green;
}
.my_btn:hover{
    transform: scale(1.2, 1.2);
    
}
