@import 'animations.css';
html,
body {
    margin: 0;
    background-color: black;
    overflow: hidden;
}

.bgmove {
    height: 800px;
}

.personaje {
    height: 131px;
    width: 80px;
    margin: auto;
    position: relative;
    z-index: 1;
    top: 425px;
    right: 450px;
    padding: 0px;
    border: 1px solid black;
}

.obstaculo {
    margin: auto;
    position: relative;
    height: 148px;
    width: 55px;
    padding: 0px;
    top: 280px;
    left: 600px;
    border: 1px solid black;
    animation: obstaculo .8s steps(7) infinite, moverObstaculo 3s linear infinite;
}