.hidden{
    display: none;
}
#pop-up{
    position: absolute;
    z-index: 100;
    margin-left: 25%;
    background: rgb(92, 89, 89);
    
} 
.my_btn:hover{
    transform: scale(1.1) !important;
}

.selected{
    background-color: lightgreen !important;
}
.noSelected{
    background-color: lightgray !important;
}