* {
    font-family: 'Open Sans';
    font-style: normal;
}


/* LOADER */

.displayNone {
    display: none;
    background-color: red;
}

.loader {
    border: 15px solid #ccc;
    border-top-color: #8A0BEE;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: girarLoader 1.5s linear infinite;
}

@keyframes girarLoader {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

header nav {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 57px;
    border: 2px solid rgba(120, 45, 178, 1);
    border-left: 0;
    border-right: 0;
    border-top: 0;
    background-color: white;
    padding-left: 3%;
    padding-right: 3%;
}

footer {
    margin-top: 20%;
}

footer nav {
    margin-top: 10%;
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
    border: 2px solid rgba(120, 45, 178, 1);
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    background-color: white;
}

footer nav button {
    width: 20%;
    height: 53px;
    border: 0;
    background-color: white;
}

a {
    text-decoration: none;
    color: white;
    height: 0;
    width: 0;
}

.cont-fd {
    margin-top: 14%;
    display: flex;
    flex-direction: column;
    height: 118px;
    width: 100%;
    border: solid #C4C4C4;
    border-width: 0.5px;
}

.cont-foto {
    display: flex;
    padding-top: 3%;
    padding-left: 3%;
    height: 73%;
}

.cont-foto img {
    object-fit: cover;
    border-radius: 1000px;
}

.cont-foto div {
    margin-top: 4%;
    margin-left: 2%;
}

.cont-foto h1 {
    font-size: 13px;
    font-weight: 900;
    margin: 0;
}

.cont-foto p {
    margin: 0;
    margin-top: 0.5%;
    font-size: 13px;
    padding-left: 2%;
    font-weight: 500;
}

.btns-perfil {
    display: flex;
    justify-content: center;
    height: 23px;
    margin-left: 9%;
}

.btns-perfil button {
    width: 95px;
    font-size: 13px;
    font-weight: 100;
    color: white;
    background-color: #8A0BEE;
    margin-right: 4%;
    border: 0;
    border-radius: 2px;
}

.cont-seguidores {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3.5%;
    border-bottom: solid #C4C4C4;
    border-width: 0.5px;
}

.cont-seguidores p {
    height: 34px;
    margin: 0;
    text-align: center;
    font-size: 13px;
    font-weight: 900;
}

.cont-seguidores p:nth-child(1),
.cont-seguidores p:nth-child(2) {
    width: 71px;
}

.cont-seguidores p:nth-child(3) {
    width: 91px;
}

.publicaciones {
    display: flex;
    flex-direction: column;
}

.publicaciones {
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

.publicaciones section {
    display: flex;
    padding: 3%;
    flex-direction: column;
}

.publicaciones section .pub-info-perfil {
    display: flex;
    justify-content: space-between;
}

.publicaciones section .pub-info-perfil div {
    display: flex;
    align-items: center;
}

.img-perfil-pub {
    object-fit: cover;
    width: 41px;
    height: 40px;
    border-radius: 1000px;
    border: 1px solid rgba(138, 11, 238, 1);
}

.pub-info-perfil p:nth-child(2) {
    margin: 0;
    font-size: 14px;
    font-weight: 900;
    margin-left: 2%;
}

.pub-info-perfil p:nth-child(4) {
    margin: 0;
    padding-left: 0;
    font-size: 10px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.54);
    margin-top: 1%;
}

.publicaciones section .pub-info-perfil div svg {
    width: 12px;
    margin-top: 1%;
}

.publicaciones section p {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 13px;
    font-weight: normal;
}

.btns-reacciones {
    display: flex;
    justify-content: space-between;
}

.btns-reacciones div {
    margin-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
}

.btns-reacciones div p {
    font-size: 12px;
    font-weight: lighter;
    padding-left: 10%;
    padding-top: 5%;
}

.btns-reacciones div:nth-child(1) p {
    color: #00BA7C;
}

.btns-reacciones div:nth-child(2) p {
    color: #3C32FF;
}

.btns-reacciones div:nth-child(3) p {
    color: black;
}

.btns-reacciones div:nth-child(4) p {
    color: #F91880;
}

div.comentarios p {
    font-size: 15px;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.6);
}

.comentario img {
    object-fit: cover;
    width: 43px;
    height: 45px;
    border-radius: 1000px;
}

.comentario {
    display: flex;
    align-items: center;
}

.comentario div {
    margin-left: 1%;
    width: 100%;
}

.comentario .nombre {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.74);
    font-weight: 500;
    margin-bottom: 0;
}

.comentario .contenedor-nombre {
    display: flex;
    align-items: end;
}

.contenedor-nombre svg {
    width: 10px;
    margin-left: 3px;
    height: 2px;
    margin-bottom: 8px;
}

.comentario .hora {
    font-size: 11px;
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 1px;
}

.comentario .desc {
    padding: 2% 3% 2% 3%;
    margin: 0;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.comentario .cont-desc {
    display: flex;
    align-items: flex-start;
}

.cont-desc svg {
    position: relative;
    height: 13px;
    margin-top: 5.5%;
    margin-left: 2%;
}

.cont-desc .cant-likes {
    position: relative;
    margin-top: 5.5%;
    color: #F91880;
    font-size: 10px;
}

.reaccion-comentarios {
    display: flex;
    align-items: flex-start;
}

div.reaccion-comentarios p {
    margin-top: 0;
    font-size: 12px;
}

div.reaccion-comentarios svg {
    width: 15px;
    margin-top: 3%;
}