@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    font-family: 'Open Sans', sans-serif;/*'Open Sans Condensed', sans-serif*/  
    background-color: #F5F5F5;
}
.line-violet-bottom{
    border-bottom: 2px solid #782DB2;
}
.line-violet-top{
    border-top: 2px solid #782DB2;
}
.cont-pub{
    border-bottom: 2px solid #C4C4C4;
    padding-bottom: 10px;
}
.descripcion-publicacion{
    width: 100%;
}
.img-publicacion{
    width: 100%;
    height: 145px;
}
.btn-follow{
  background-color: #782DB2;
}
.text-follow{
    background-color: transparent;
    color: white;
    height: 30px;
    margin: 0;
}